*.pyc
build/**
.eggs/**
.idea/**

# Caches
Thumbs.db

# Development
.project
.pydevproject
.settings
.idea/
.history/
.vscode/

# Testing
.cache
test-reports/*
.pytest_cache/*

# SCM VERSION
source/ftrack_application_launcher/_version.py
*.egg-info